$color-scheme: $neutral;
$body-background-color: $white;
$body-heading-color: $grey-dk-300;
$body-text-color: $grey-dk-100;
$link-color: $blue-100;
$nav-child-link-color: $grey-dk-100;
$sidebar-color: $grey-lt-200;
$base-button-color: $grey-lt-300;
$btn-primary-color: $grey-dk-250;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $grey-dk-000;

@import "./vendor/OneLightJekyll/syntax";
